
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Prosto" >
        <groups>
            <run>
                <include name="tryone"/>
            </run>
        </groups>
        <classes>
            <class name="FirstTest"/>
            <class name="AlertTest"/>
        </classes>
    </test>
</suite>